# SQL Server local. Đổi localhost\\SQLEXPRESS theo tên Server trong SSMS.
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_SERVER=localhost,36080
DB_DATABASE=ChefSmartDB
DB_TRUSTED_CONNECTION=yes
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes

# Chỉ dùng khi DB_TRUSTED_CONNECTION=no
DB_USERNAME=sa
DB_PASSWORD=123

# Lấy API key tại tài khoản Spoonacular rồi dán vào đây.
SPOONACULAR_API_KEY=ac232d1746564693beca91373830471f

FLASK_DEBUG=true
PORT=5000
